@import './../../assets/css/variables.css';

.containerNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Gray);
  padding: 2rem;
}

.NotFoundTitle {
  font-size: 1rem;
  padding: 3rem 0;
}

@media (min-width: 700px) {
  .NotFoundTitle {
    font-size: 3rem;
    padding: 3rem 0;
  }
}
