:root {
  /* colors */
  --Green: #136920;
  --GreenLight: #3e8f32;
  --GreenSpotahome: #4DBA87;
  --Yellow: #fed104;
  --Orange: #ed671a;
  --OrangeLight: #f19319;
  --Red: #ff0000;
  --Gray: #a3a3a3;
  --GrayLight: #d2d2d2;
  --Black: #333132;
  --White: #fefefe;
}
