@import './../../Assets/css/variables.css';

.containerRoom {
  display: flex;
  flex-direction: column;
  background-color: var(--GrayLight);
  border: 1px solid var(--Black);
  margin-top: 1rem;
}

.imgRoom {
  width: 100%;
  height: 100%;
  display: block;
  border-bottom: 1px solid var(--Black);
}

.imgRoom:hover {
  filter: opacity(.5);
  box-shadow: 0px 0px 49px 8px var(--Black);
}

.containerInfo {
  padding: 0.5rem;
}

.infoTitle {
  font-family: 'Luckiest Guy', cursive;
  font-size:1.5rem;
  color: var(--Black);
}

.infoDes {
  margin: 0.5rem 0 1rem;
}

.containerPrice {
  display: flex;
  justify-content: center;
}

.infoPrice {
  font-family: 'Luckiest Guy', cursive;
  padding: 0.4rem 0.7rem 0rem;
  border-radius: 5px;
  background-color: var(--Black);
  color: var(--Yellow);
}

@media (min-width: 700px) {
  .containerInfo {
    padding: 2rem;
  }

  .infoTitle {
    font-size: 2rem;
  }

  .infoDes {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
  }

  .infoPrice {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .containerRoom {
    flex-direction: row;
  }

  .containerRoom:last-child {
    margin-bottom: 5.1rem
  }

  .containerRoom:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: var(--White);
  }

  .containerRoom:first-child {
    margin: 0;
  }

  .containerImg {
    width: 60%;
  }

  .imgRoom {
    border-bottom: none;
    border-right: 1px solid var(--Black);
  }

  .containerInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infoDes {
    margin: 1rem 0;
    font-size: 2rem;
  }
}
